---
- name: Install open-jdk
  yum: name="java-{{ JAVA_VERSION }}-openjdk-devel" state=present

- name: Check whether glassfish was downloaded or not
  stat: path="/opt/glassfish-{{ GLASSFISH_VERSION }}"
  register: opt_glassfish

- group: name=glassfish
- user: name=glassfish group=glassfish

- name: Download glassfish
  get_url:
    url="http://download.java.net/glassfish/{{ GLASSFISH_VERSION }}/release/glassfish-{{ GLASSFISH_VERSION }}.zip"
    dest=/tmp
  when: not opt_glassfish.stat.exists

- name: Unarchive glassfish
  unarchive:
    src=/tmp/glassfish-{{ GLASSFISH_VERSION }}.zip
    dest=/opt
    force=yes
    copy=no
  when: not opt_glassfish.stat.exists

- name: Change owner of /opt/glassfish4 glassfish:glassfish
  file:
    path=/opt/glassfish4 state=directory
    owner=glassfish group=glassfish
    recurse=yes

- name: Install systemd config for glassfish
  copy: src=systemd_glassfish dest=/usr/lib/systemd/system/glassfish.service mode=0644

- name: glassfish service setup
  service:
    name=glassfish
    state=started
    enabled=yes

- name: set admin password
  expect:
    command: "/opt/glassfish4/bin/asadmin change-admin-password --user admin"
    responses:
      'Enter the admin password>': ""
      'Enter the new admin password>': "{{ ADMIN_PASSWORD }}"
      'Enter the new admin password again>': "{{ ADMIN_PASSWORD }}"

- name: set management console user
  expect:
    command: "/opt/glassfish4/bin/asadmin login"
    responses:
      # These response messages is regex. So, we must escape [ and ]
      # if these are not control characters of regex.
      "Enter admin user name \\[Enter to accept default\\]> ": "admin"
      "Enter admin password> ": "{{ ADMIN_PASSWORD }}"

- name: make management console ssl
  command: "/opt/glassfish4/bin/asadmin enable-secure-admin"

- name: restart glassfish
  service:
    name=glassfish
    state=restarted
    enabled=yes
