[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=IBus daemon
Comment=start IBus daemon
Exec=ibus-daemon -rdx
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
